@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Comfortaa:wght@300&family=Hi+Melody&family=Kodchasan:wght@500&family=Montserrat+Alternates&family=Nanum+Myeongjo&family=Nunito&family=Pridi:wght@700&family=Rubik+80s+Fade&family=Secular+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black bg-slate-200 dark:bg-slate-800 dark:text-white ;
  }
}
.blur-nav {
  position: relative;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.portfoliov11 {
  background: url("/public/assets/KFK.png");
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;


}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
